<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnitConversion" />
                <binding name="BasicHttpBinding_IUnitConversion1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56803/UnitConversion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnitConversion"
                contract="UnitConversionService.IUnitConversion" name="BasicHttpBinding_IUnitConversion" />
            <endpoint address="http://localhost:56803/UnitConversion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnitConversion1"
                contract="ServiceReference1.IUnitConversion" name="BasicHttpBinding_IUnitConversion1" />
        </client>
    </system.serviceModel>
</configuration>